.LoginPage {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}


.f-container{
  display: flex;
    justify-content: center;
    align-items: center;
}

.f-form2{
  width: 700px;
}