.f-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
    text-align: center;
}

.f-form1{
    width: 500px;
}

.header{
    margin: 50px 0 20px 0;
}

input{
    margin-bottom: 10px;
}
textarea{
    margin-bottom: 10px;
}